body {
    width: 99%;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}
.header-container {
    width: 100%;
    background: black;
}
.header-logo {
    background: black;
    height: 30px;
}
/*Dashboard*/
.col-4 {
    padding-right: 0;
    margin-left: 0;
}
.col-8 {
    margin-left: -1%;
}
.dashboard-content {
    margin-top: 40px;
    display: flex;
    gap: 3%;
}
.dashboard-containers {
    width: 20%;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.411);
}
.dashboard-containers p {
    text-align: center;
    font-family: sans-serif;
}
.dashboard-amount {
    display: flex;
    gap: 3%;
}
.amount-containers {
    width: 20%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.411);
}