@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:ital@1&family=Lumanosimo&display=swap');
;
html {
    width: 100%;
    margin: 0;
}
body {
    width: 100%;
    background: rgba(255, 255, 255, 0.683);
    margin: 0;
}
footer {
    width: 100%;
    height: 50px;
}
/* Nav mobile responsive*/
#hamburger-icon{
    display: none;
    margin: auto 0;
    cursor: pointer;
    float: right;
    margin-top: -35px;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}
/*Header*/
.headerphoto-container{
    background: black;
}
.logo {
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/*Nav*/
nav {
    width: 100%;
    height: 35px;
    margin: 0;
    padding-top: 0;
    display: flex;
}

.nav-container {
    width: 20%;
    background: #990000;
    height: 35px;
    margin: 0;
}
.home{
    margin-top: 5px;
    
}
.home-btn {
    color: white;
    text-decoration: none;
    font-family: Verdana;
    margin-left: 15px;
}
.home-btn:hover {
    text-decoration: underline;
}
.username {
    margin-top: 3.5px;
}

.logout-icon{
    margin-right: 1%;
    height: 30px;
    float: right;
    display: flex;
}
#dropdwn-btn {
    background: none;
    border: none;
}
  /*Tabs*/
.tab {
    width: 100%;
    height: auto;
}

#myTab {
    width: 100%;
}
#nav-featured-tab {
    color: #990000 ;
    font-family: Josefin Sans;
    font-weight: bold;
}

#nav-women-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-men-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-couples-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-trans-tab {
    color: black;
    font-family: Josefin Sans;
}

.tab-content {
    width: 20%;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.contentcontainer {
    border: 0.5px solid black;
    border-radius: 5px;
}
.card-img-top {
    margin-top: 5px;
    gap: 5px;
}

.contentimagecontainer {
    width: 450%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 40px;
    margin-left: 40px;
}

.imgcont{
    margin-left: 0;
    height: 200px;
    display: grid;
    border: 0.8px solid rgba(0, 0, 0, 0.368);
    border-radius: 20px;
}
/*Rooms*/
.rooms {
    margin-top: 5px;
}
.rooms-btn {
    color: white;
    text-decoration: none;
    font-family: Verdana;
    margin-left: 15px;
}
.rooms-btn:hover {
    text-decoration: underline;
}
.whole-roomcontainer{
    justify-content: center;
    gap: 2%;
    display: flex;
    flex-wrap: wrap;
}
.room-container {
    margin-top: 20px;
    width: 45%;
    height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.361);
    border-radius: 15px;
    background-color: #990000;
}

.headings-roomcontainer {
    width: 96%;
    height: 40px;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
}

.explosion {
    font-family: sans-serif;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.406);
}

.reportlink{
    float: right;
    margin-top: -40px;
    font-family: Verdana;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
.reportlink:hover {
    color: rgba(255, 255, 255, 0.587);
}

.video-container {
    width: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
}

.video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mode{
    margin-left: 2%;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}

.room-footer {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0px;
    height: 150px;
    display: flex;
}
.buysend-vibez {
    width: 30%;
    height: 70%;
}
.numberofvibez {
    width: 70%;
}
.fav {
    width: 100%;
    height: 30%;
    margin-top: -50px;
    margin-left: 0;
    margin-right: 0;
    color: white;
}

.fav-patterns{
    font-size: 15px;
    font-family: Verdana;
}
.best {
    font-family: sans-serif;
    margin-top: -20px;
    font-size: 15px;
    font-weight: bold;
}
.buy-btn {
    background: black;
    margin-left: 10%;
    margin-right: 10%;
    height: 49px;
    width: 80%;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: bold;
}
.buy-btn:hover{
    width: 100%;
    height: 55px;
    margin-left: 0;
    transition: 0.5s;
    border: 1px solid #990000;
}

.send-btn {
    background: white;
    margin-left: 10%;
    margin-right: 10%;
    height: 49px;
    width: 80%;
    color: #990000;
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: bold;
}
.send-btn:hover {
    width: 100%;
    height: 55px;
    margin-left: 0;
    transition: 0.5s;
    border: 1px solid #990000;
}
.vibez{
    width: 100%;
    height: 70%;
    border-radius: 5px;
    background: black;
}

.vibez-points{
    color: #990000;
    width: 100%;
    height: 16.66%;
}

.vibez-name {
    margin-left: 1%;
    font-weight: bold;
    font-family: sans-serif;
}
.points {
    margin-left: 1%;
    font-family: Arial;
}
/*room containers tabs*/
#nav-tab {
    border: none;
}
#nav-userbio-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-userbio-tab:focus {
    background-color: transparent;
    border: none;
    color: #990000;
    font-weight: bold;
}
#nav-userroomrules-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-userroomrules-tab:focus {
    background-color: transparent;
    border: none;
    color:#990000;
    font-weight: bold;
}
#nav-userfollowing-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-userfollowing-tab:focus {
    background-color: transparent;
    border: none;
    color: #990000;
    font-weight: bold;
}
#nav-userlovensetoy-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-userlovensetoy-tab:focus {
    background-color: transparent;
    border: none;
    color: #990000;
    font-weight: bold;
}
#nav-usertabContent {
    width: 100%;
    height: auto;
    margin-left: 0;
}
#profile-container {
    background: none;
    border: none;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.bio-tab {
    margin-top: 10%;
    width: 90%;
    margin-left: 5%;
    height: auto;
    display: flex;
}
.bio-container {
    width: 50%;
    height:auto;
}
.bio-title {
    width: 80%;
    margin-left: 20%;
    color: black;
    font-family: sans-serif;
}
.bio-info {
    color: black;
    font-family: sans-serif;
}
.roomrules-title{
    width: 80%;
    margin-left: 20%;
    color: black;
    font-family: sans-serif;
}
.roomrules-container {
    width: 50%;
    height:auto;
}

.roomrules-info {
    color: black;
    font-family: sans-serif;
}
.following-title{
    width: 80%;
    margin-left: 20%;
    color: black;
    font-family: sans-serif;
}
.following-container {
    width: 50%;
    height:auto;
}

.following-info {
    color: black;
    font-family: sans-serif;
}

/* Chat Tabs*/
#nav-chat-tab {
    font-size: 15px;
    color: black;
    font-family: Josefin Sans;
}
#nav-interact-tab {
    font-size: 15px;
    color: black;
    font-family: Josefin Sans;
}
#nav-privatechat-tab {
    font-size: 15px;
    color: black;
    font-family: Josefin Sans;
}
/*Chat Area*/
.conversation-box {
    width: 450%;
    height: 350px;
    border: 1px solid white;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.735);
    box-shadow: -3px 2px 27px -1px rgba(0,0,0,0.75);
}
.chatbox-container {
    margin-left: 15%;
    width: 100%;
    height: 100%;
}
.chat-content {
    width: 450%;
    height: 480px;
}
.chat-box {
    margin-top: 10%;
    width: 450%;
    height: 50px;
    background: rgba(255, 255, 255, 0.735);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: -3px 2px 27px -1px rgba(0,0,0,0.75);
}
.chat-box:focus {
    outline: none;
}

.slots-btn {
    background: white;
    border: none;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 15px;
    margin-top: 20%;
    margin-left: 20%;
    font-family: sans-serif;
    color: #990000;
    border-radius: 5px;
}
.slots-btn:hover {
    background: black;
    transition: 0.5s;
}
/*Lovense*/
.lovensetoy-title{
    width: 60%;
    margin-left: 40%;
    color: black;
    font-family: sans-serif;
}
.lovensetoy-container {
    width: 100%;
    height: auto;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 1%;
}

.lovensetoy-btn {
    margin-top: 0;
    margin-left: 40%;
    border-radius: 8px;
    background: black;
    border: none;
    padding: 4px 10px;
    color:#990000;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.lovensetoy-btn:hover {
    color: white;
    background: #990000;
    transition: 0.5s;
}
.lovense-toy {
    width: 30%;
    height: 370px;
    background: rgba(255, 255, 255, 0.418);
    border-radius: 5px;
    box-shadow: -2px 2px 22px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 2px 22px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 22px -5px rgba(0,0,0,0.75);
}

.lovensetoy-content {
    width: 100%;
    height: 100%;
}
.mmmbuton {
    margin-left: 5%;
    padding-top: 5%;
    color: #990000;
}
.softvibez {
    margin-left: 5%;
    color: black;
}
.price {
    margin-left: 5%;
    color: black;
}
#price-field {
    width: 55%;
    border-radius: 5px;
    border: 0.5px solid black;
}
#price-field:focus {
    outline: none;
}
.feature {
    margin-top: 10px;
    margin-left: 5%;
    color: black;
}
.feature-field {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 8%;
}
.feature-field:focus {
    outline: none;
}
.field {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 5%;
}
.field:focus {
    outline: none;
}
#customRange2 {
    width: 80%;
    margin-left: 10%;
}
.form-label {
    margin-left: 5%;
    color: black;
}
.addstrength-btn {
    margin-left: 5%;
    border: none;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: sans-serif;
}
.addstrength-btn:hover {
    background: #99000052;
}
.duration-label {
    margin-left: 5%;
}
#durationField {
    width: 50%;
    margin-top: 3%;
}
#durationField:focus {
    outline: none;
}
.save-btn {
    background: black;
    color: white;
    border: none;
    font-family: sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
}
.save-btn:hover {
    background: #990000;
    color: black;
    transition: 0.5s;
}
/*Settings*/
.settings-btn {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    font-size: 23px;
}
.settings-container {
    width: 98%;
    height: 400px;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
}

.settings-content {
    width: 20%;
    height: 100%;
}

.setting {
    margin-top: 35px;
    font-family: sans-serif;
}

.options {
    margin-top: 10px;
    color: #990000;
}

.regions {
    font-family: sans-serif;
}

.checkbox-options {
    width: 17px;
    height: 17px;
}

.locations {
    font-size: 18px;
    font-family: sans-serif;
}
