@media screen and (max-width:767px) {
    html {
        width: 100%;
        margin: 0;
    }
    body {
        width: 100%;
        background: rgba(255, 255, 255, 0.683);
        margin: 0;
    }
    .headerphoto-container {
        background: white;
    }
    .nav-container {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }
    .mobile-menu {
        margin-top: 10%;
        background: #990000;
        width: 70%;
        margin-left: 30%;
        list-style: none;
    }
    .navresponsive-link {
        text-decoration: none;
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    #navresponsive-broadcaster {
        font-size: 21px;
    }
    .responsivelink {
        margin-top: 25px;
    }
}