@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:ital@1&family=Lumanosimo&display=swap');
;
html {
    width: 100%;
    margin: 0;
}
body {
    width: 100%;
    background: rgba(255, 255, 255, 0.683);
    margin: 0;
}

/*Header*/
.headerphoto-container{
    background: black;
}
.logo {
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/*Nav*/
nav {
    width: 100%;
    height: 35px;
    margin: 0;
    padding-top: 0;
    display: flex;
}

.nav-container {
    width: 20%;
    background: #990000;
    height: 35px;
    margin: 0;
}
.home{
    margin-top: 5px;
    
}
.home-btn {
    color: white;
    text-decoration: none;
    font-family: Verdana;
    margin-left: 15px;
}
.home-btn:hover {
    text-decoration: underline;
}
.stat {
    margin: 0;
    list-style: none;
    padding: 0.5px;
    font-family: Verdana;
    color: white;
    font-size: 12px;
}
.usernameicon {
    padding: 1px;
}
.username {
    display: flex;
}

.signup-link {
    text-decoration: none;
    color: white;
    margin-top: 3px;
    font-size: 20px;
}
.signup-link:hover {
    text-decoration: underline;
}

.title {
    color: white;
    font-family: Lumanosimo;
    font-size: 18px;
    margin-top: 6px;
    font-weight: bold;
}
.title-link {
    text-decoration: none;
    color: white;
}

.title-link:hover {
    text-decoration: underline;
}

.gear-icon{
    float: right;
    margin-top: 2px;
    margin-right: 20px;
}

  
  /*Tabs*/
.tab {
    width: 100%;
    height: auto;
}

#myTab {
    width: 100%;
}
#nav-featured-tab {
    color: #990000 ;
    font-family: Josefin Sans;
    font-weight: bold;
}

#nav-women-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-men-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-couples-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-trans-tab {
    color: black;
    font-family: Josefin Sans;
}

.tab-content {
    width: 20%;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.contentcontainer {
    border: 0.5px solid black;
    border-radius: 5px;
}
.card-img-top {
    margin-top: 5px;
    gap: 5px;
}

.contentimagecontainer {
    width: 450%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 40px;
    margin-left: 40px;
}

.imgcont{
    margin-left: 0;
    height: 200px;
    display: grid;
    border: 0.8px solid rgba(0, 0, 0, 0.368);
    border-radius: 20px;
}

/*Sign in Page*/
.signincontainer {
    width: 50%;
    height: 650px;
    border: 1px solid rgba(0, 0, 0, 0.283);
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    background: url(/images2/pexels-alexander-krivitskiy-1271374.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sign-in{
    background: rgba(255, 255, 255, 0.329);
    width: 70%;
    height: 70%;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
    box-shadow: -1px 3px 13px -2px black;
}


.sign_in-title {
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 10%;
    color: #990000;
}

.sign_in-text {
    font-family: sans-serif;
    margin-left: 10%;
}

.clickhere-link{
    text-decoration: none;
    color: #990000;
}

.clickhere-link:hover {
    text-decoration: underline;
}

#sign_in-username{
    margin-left: 10%;
    width: 70%;
    border: none;
    border-bottom: 1px solid #990000;
    background: none;
    padding: 5px;
}

.underline-input:focus{
    outline: none;
    border-color: transparent;
}


#sign_in-username::placeholder {
    color: #990000;
}

#sign_in-password {
    margin-left: 10%;
    width: 70%;
    border: none;
    border-bottom: 1px solid #990000;
    background: none;
    padding: 5px;
}

#sign_in-password::placeholder {
    color: #990000;
}

#sign_in-checkbox {
    margin-left: 10%;
    width: 20px;
    height: 20px;
}

.sign-incheck-box {
    display: flex;
}

.remember-me {
    font-family: sans-serif;
    margin-left: 5px;
    font-size: 18px;
    margin-top: -3px;
}

.log_in-btn{
    margin-left: 10%;
    width: 80%;
    margin-top: 25px;
    background-color: #990000;
    border: none;
    height: 50px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
}

.log_in-btn:hover {
    background-color: white;
    color: #990000;
}

/*Broadcast Page*/
.signupcontainer {
    width: 50%;
    height: 650px;
    border: 1px solid rgba(0, 0, 0, 0.283);
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
}

.signincontainer {
    width: 50%;
    height: 650px;
    border: 1px solid rgba(0, 0, 0, 0.283);
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    background: url(/images2/pexels-alexander-krivitskiy-1271374.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.signup-header{
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
}

.signup-title{
    color: #990000;
    font-family: DM Serif Display;
}
.agelimit {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.637);
    font-size: 13px;
}

.forms {
    width: 80%;
    height: 4%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5px;
    display: flex;
}
.box-form {
    width: 60%;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.34);
}
.text-form {
    width: 30%;
    font-size: 13px;
    font-family: sans-serif;
}

#birthday {
    color: rgba(0, 0, 0, 0.468);
}

.check-box{
    width: 10%;
}
.checkboxtext-form {
    width: 70%;
    font-size: 13px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.719);
}
#agreement {
    height: 20px;
    width: 20px;
}

.policy-link {
    text-decoration: none;
}

.policy-link:hover{
    text-decoration: underline;
}

.check-forms {
    width: 80%;
    height: 4%;
    margin-left: 25%;
    margin-top: 0;
    display: flex;
}

.create-btn {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    height: 40px;
    background: #990000;
    border: 0.5px solid #990000;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.create-btn:hover {
    background: #990000;
    border: 0.5px solid #990000;
}

.footer {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 11px;
    margin-top: 35px;
}
.or {
    margin-left: 20%;
    margin-right: 25%;
    color: rgba(0, 0, 0, 0.484);
    font-size: 13px;
    margin-top: 10px;
}

.creategmail-btn {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    height: 40px;
    background: white;
    border: 0.5px solid rgba(0, 0, 0, 0.484);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.735);
    font-weight: 400;
    font-size: 15px;
}

.creategmail-btn:hover {
    text-decoration: underline;
}

.google-icon{
    margin-right: 10px;
    margin-bottom: 5px;
}

/*Settings*/
.settings-btn {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    font-size: 23px;
    
}

.settings-container {
    width: 98%;
    height: 400px;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
}

.settings-content {
    width: 20%;
    height: 100%;
}

.setting {
    margin-top: 35px;
    font-family: sans-serif;
}

.options {
    margin-top: 10px;
    color: #990000;
}

.regions {
    font-family: sans-serif;
}

.checkbox-options {
    width: 17px;
    height: 17px;
}

.locations {
    font-size: 18px;
    font-family: sans-serif;
}

.chatsettings-btn {
    text-decoration: none;
}

.chatsettings-link{
    margin-top: 35px;
    color: #990000;
}
.chatsettings-link:hover {
    text-decoration: underline;
}
.close-button {
    background-color: white;
    color: #990000;
    border:none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 25px;
    float: right;
}