@media screen and (min-width: 577px) and (max-width: 768px) {
    html {
        width: 100%;
        margin: 0;
    }
    body {
        width: 100%;
        background: rgba(255, 255, 255, 0.683);
        margin: 0;
    }
    footer {
        height: 350px;
    }
    .headerphoto-container {
        background: white;
    }
    .nav-container {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }
    .mobile-menu {
        border-radius: 5px;
        height: 100%;
        margin-top: 12.5%;
        background: black;
        width: 50%;
        margin-left: 50%;
        list-style: none;
        gap: 20px;
    }
    .navresponsive-link {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        font-family: sans-serif;
    }
    #log-inbtnresponsive {
        border: 1px solid white;
        padding: 5px 15px;
        border-radius: 5px;
    }
    .responsivelink {
        margin-top: 30px;
    }
    /*Tabs*/
    .tab {
        width: 100%;
        height: auto;
    }
    #myTab {
        width: 100%;
    }
    .contentimagecontainer {
        width: 415%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-top: 40px;
        margin-left: 40px;
    }
     /*Rooms*/
     .whole-roomcontainer{
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }
    .room-container {
        margin-top: 0;
        width: 90%;
        margin-left: 5%;
        height: 570px;
        border: 1px solid rgba(0, 0, 0, 0.361);
        border-radius: 15px;
        background-color: #990000;
        margin-bottom: 5px;
    }
     .video {
        overflow: hidden;
        z-index: 1;
    }
    .video-container {
        width: 98%;
        height: auto;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 5px;
    }
    .headings-roomcontainer {
        width: 96%;
        height: 40px;
        margin-top: 10px;
        margin-left: 2%;
        margin-right: 2%;
        flex-direction: column;
    }
    .explosion {
        width: 50%;
        font-family: sans-serif;
        font-weight: bolder;
        color: rgba(255, 255, 255, 0.406);
    }
    .reportlink{
        float: right;
        margin-top: -40px;
        font-family: Verdana;
        font-weight: bolder;
        color: rgb(255, 255, 255);
    }
    .room-footer {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: -15px;
        height: auto;
        display: flex;
    }
    .fav-patterns {
        font-size: 13px;
        margin-top: -40px;
    }
    .best {
        font-size: 15px;
    }
    .vibez{
        width: 100%;
        height: 47%;
        margin-top: -40px;
        border-radius: 5px;
        background: black;
    }
    .vibez {
        font-size: 16px;
    }
     /*room containers tabs*/
     .lovensetoy-container {
        width: 100%;
    }
    .lovensetoy-title{
        width: 50%;
        margin-left: 25%;
        color: black;
        font-family: sans-serif;
    }
    .lovensetoy-container {
        width: 100%;
        height: auto;
        display: block;
    }
    .lovense-toy {
        margin-left: 25%;
        width: 50%;
        margin-bottom: 20px;
        height: auto;
        background: rgba(255, 255, 255, 0.418);
        border-radius: 5px;
        box-shadow: -2px 2px 22px -5px rgba(0,0,0,0.75);
        -webkit-box-shadow: -2px 2px 22px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 2px 22px -5px rgba(0,0,0,0.75);
    }
    .lovensetoy-btn {
        margin-top: 0;
        width: 30%;
        margin-left: 35%;
        border-radius: 8px;
        background: black;
        border: none;
        padding: 10px 5px;
        color:#990000;
        font-size: 17px;
        font-family: sans-serif;
        font-weight: bold;
    }
    /*Settings*/
    .settings-container {
        width: 90%;
        height: auto;
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: column;
    }
    .settings-content {
        width: 50%;
        height: 100%;
    }
    .close-button {
        display: none;
    }
}
