@media screen and (min-width: 577px) and (max-width: 768px) {
    html {
        width: 100%;
        margin: 0;
    }
    body {
        width: 100%;
        background: rgba(255, 255, 255, 0.683);
        margin: 0;
    }
    footer {
        height: 350px;
    }
    .headerphoto-container {
        background: white;
    }
    .nav-container {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }
    .mobile-menu {
        border-radius: 5px;
        height: 100%;
        margin-top: 13%;
        background: black;
        width: 50%;
        margin-left: 50%;
        list-style: none;
        gap: 20px;
    }
    .navresponsive-link {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        font-family: sans-serif;
    }
    #log-inbtnresponsive {
        border: 1px solid white;
        padding: 5px 15px;
        border-radius: 5px;
    }
    .responsivelink {
        margin-top: 30px;
    }
    /*Tabs*/
    .tab {
        width: 100%;
        height: auto;
    }
    #myTab {
        width: 100%;
    }
    .contentimagecontainer {
        width: 415%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-top: 40px;
        margin-left: 40px;
    }
    /*Sign in Page*/
    .signincontainer {
        width: 50%;
        height: auto;
        border: 1px solid rgba(0, 0, 0, 0.283);
        margin-top: 50px;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 10px;
        background: url(/images2/pexels-alexander-krivitskiy-1271374.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .signup-header{
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }
    .signup-title{
        color: #990000;
        font-family: DM Serif Display;
        font-size: 27px;
    }
    .agelimit {
        width: 90%;
        font-family: sans-serif;
        color: rgba(0, 0, 0, 0.637);
        font-size: 15px;
    }
    .forms {
        width: 90%;
        height: 6%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5px;
        display: flex;
    }
    .box-form {
        width: 75%;
        margin-left: 10%;
        border-radius: 5px;
        border: 0.5px solid rgba(0, 0, 0, 0.34);
    }
    .text-form {
        width: 30%;
        font-size: 15px;
        font-family: sans-serif;
    }
    .check-forms {
        width: 95%;
        margin-left: 5%;
        margin-right: 0;
    }
    .check-box{
        width: 30%;
        height: 30%;
    }
    .checkboxtext-form {
        width: 100%;
        font-size: 10px;
        margin-top: 0px;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.719);
    }
    .create-btn {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;
        height: 40px;
        background: #990000;
        border: 0.5px solid #990000;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    .or {
        margin-left: 20%;
        margin-right: 25%;
        color: rgba(0, 0, 0, 0.484);
        font-size: 18px;
        margin-top: 0px;
    }
    .footer {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 11px;
        margin-top: 10px;
    }
    .or {
        margin-left: 20%;
        margin-right: 25%;
        color: rgba(0, 0, 0, 0.484);
        font-size: 18px;
        margin-top: 0px;
    }
    .creategmail-btn {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5px;
        height: 40px;
        background: white;
        border: 0.5px solid rgba(0, 0, 0, 0.484);
        border-radius: 5px;
        color: rgba(0, 0, 0, 0.735);
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 20px;
    }
    /*Sign in Page*/
    .signincontainer {
        width: 80%;
        height: auto;
        border: 1px solid rgba(0, 0, 0, 0.283);
        margin-top: 0px;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 10px;
        background: url(/images2/pexels-alexander-krivitskiy-1271374.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .si-logo {
        margin-top: -20px;
        margin-left: 40%;
    }
    .text-logo {
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 0;
    }
    .sign_in-title {
        width: 80%;
        font-family: sans-serif;
        font-weight: bold;
        margin-left: 10%;
        margin-top: 0px;
        font-size: 35px;
        color: #990000;
    }
    .sign_in-text {
        width: 80%;
        font-family: sans-serif;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 100%;
    }
    #sign_in-username{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 20px;
        width: 80%;
        border: none;
        border-bottom: 1px solid #990000;
        background: none;
        padding: 5px;
    }
    #sign_in-password {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        border: none;
        border-bottom: 1px solid #990000;
        background: none;
        padding: 5px;
        font-size: 20px;
    }
    #sign_in-checkbox {
        margin-left: 10%;
        width: 20px;
        height: 20px;
    }
    .remember-me {
        font-family: sans-serif;
        margin-left: 5px;
        font-size: 21px;
        margin-top: -6px;
    }
    .log_in-btn{
        margin-left: 10%;
        width: 80%;
        margin-top: 5px;
        background-color: #990000;
        border: none;
        height: 50px;
        color: white;
        font-size: 25px;
        border-radius: 10px;
        font-family: sans-serif;
        font-weight: bold;
    }
    .ntpv{
        margin-left: 10%;
    }
    .signupnow-link {
        text-decoration: none;
        margin-left: 10%;
        color: #990000;
        font-size: 25px;
    }
    /*Settings*/
    .settings-container {
        width: 80%;
        height: auto;
        margin-top: 20px;
        margin-left: 10%;
        margin-right: 10%;
        flex-direction: column;
    }
    .settings-content {
        width: 100%;
        height: 100%;
    }
    .setting {
        margin-top: 10px;
        font-family: sans-serif;
        font-size: 25px;
    }
    .options {
        font-size: 25px;
        margin-top: 10px;
        color: #990000;
    }
    .regions {
        font-size: 25px;
        font-family: sans-serif;
    }
    .checkbox-options {
        width: 20px;
        height: 20px;
    }
    .locations {
        font-size: 20px;
        font-family: sans-serif;
    }
    .chatsettings-link{
        font-size: 25px;
        margin-top: 35px;
        color: #990000;
    }
    .close-button {
        display: none;
    }
}