@media screen and (max-width:576px) {
    html {
        width: 100%;
        margin: 0;
    }
    body {
        width: 100%;
        background: rgba(255, 255, 255, 0.683);
        margin: 0;
    }
    .headerphoto-container {
        background: white;
    }
    .nav-container {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }
    .mobile-menu {
        border-radius: 5px;
        height: 70%;
        margin-top: 11%;
        background: black;
        width: 70%;
        margin-left: 30%;
        list-style: none;
    }
    .navresponsive-link {
        text-decoration: none;
        color: white;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
    }
    #logout {
        border: 1px solid white;
        padding: 5px 15px;
        border-radius: 5px;
    }
    .responsivelink {
        margin-top: 25px;
    }
    /*Tabs*/
    .tab {
        width: 100%;
        height: auto;
    }
    #myTab {
        width: 100%;
    }
    #nav-featured-tab {
        width: 100%;
        color: #990000 ;
        font-family: Josefin Sans;
        font-weight: bold;
        font-size: 30px;
    }
    #nav-featured-tab:focus {
        font-size: 35px;
        color: black;
    }
    #nav-women-tab {
        font-size: 25px;
        width: 100%;
        color: black;
        font-family: Josefin Sans;
    }
    #nav-women-tab:focus {
        font-size: 30px;
        color: #990000;
        font-weight: bold;
    }
    #nav-men-tab {
        font-size: 25px;
        width: 100%;
        color: black;
        font-family: Josefin Sans;
    }
    #nav-men-tab:focus {
        font-size: 30px;
        color: #990000;
        font-weight: bold;
    }
    #nav-couples-tab {
        font-size: 25px;
        width: 100%;
        color: black;
        font-family: Josefin Sans;
    }
    #nav-couples-tab:focus {
        font-size: 30px;
        color: #990000;
        font-weight: bold;
    }
    #nav-trans-tab {
        font-size: 25px;
        width: 100%;
        color: black;
        font-family: Josefin Sans;
    }
    #nav-trans-tab:focus {
        font-size: 30px;
        color: #990000;
        font-weight: bold;
    }
    .tab-content {
        width: 92%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin: 0;
    }
    .contentcontainer {
        border: 0.5px solid black;
        border-radius: 5px;
    }
    .card-img-top {
        margin-top: 5px;
        gap: 5px;
    }
    .contentimagecontainer {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 15fr);
        grid-gap: 10px;
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .imgcont{
        margin-left: 0;
        height: 200px;
        display: grid;
        border: 0.8px solid rgba(0, 0, 0, 0.368);
        border-radius: 20px;
    }
    /*Rooms*/
    .video {
        position: static;
        z-index: 5;
    }
    .video-container {
        width: 98%;
        height: auto;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 5px;
    }
    .whole-roomcontainer{
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .room-container {
        margin-top: 0;
        width: 90%;
        margin-left: 5%;
        height: 570px;
        border: 1px solid rgba(0, 0, 0, 0.361);
        border-radius: 15px;
        background-color: #990000;
        margin-bottom: 5px;
    }
    .headings-roomcontainer {
        width: 96%;
        height: 40px;
        margin-top: 10px;
        margin-left: 2%;
        margin-right: 2%;
        flex-direction: column;
    }
    .explosion {
        width: 50%;
        font-family: sans-serif;
        font-weight: bolder;
        color: rgba(255, 255, 255, 0.406);
    }
    .reportlink{
        float: right;
        margin-top: -65px;
        font-family: Verdana;
        font-weight: bolder;
        color: rgb(255, 255, 255);
    }
    .room-footer {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 0px;
        height: auto;
        display: flex;
    }
    .vibez{
        width: 100%;
        height: 60%;
        margin-top: -30px;
        border-radius: 5px;
        background: black;
    }

    /*room containers tabs*/
    #nav-tab {
        border: none;
    }
    #nav-userbio-tab {
        width: 90%;
        margin-left: 5%;
        color: black;
        font-family: Josefin Sans;
        font-size: 20px;
    }
    #nav-userbio-tab:focus {
        background-color: transparent;
        border: none;
        color: #990000;
        font-weight: bold;
        font-size: 25px;
    }
    #nav-userroomrules-tab {
        width: 90%;
        margin-left: 5%;
        color: black;
        font-family: Josefin Sans;
        font-size: 20px;
    }
    #nav-userroomrules-tab:focus {
        background-color: transparent;
        border: none;
        color: #990000;
        font-weight: bold;
        font-size: 25px;
    }
    #nav-userfollowing-tab {
        width: 90%;
        margin-left: 5%;
        color: black;
        font-family: Josefin Sans;
        font-size: 20px;
    }
    #nav-userfollowing-tab:focus {
        background-color: transparent;
        border: none;
        color: #990000;
        font-weight: bold;
        font-size: 25px;
    }
    #nav-userlovensetoy-tab {
        width: 90%;
        margin-left: 5%;
        color: black;
        font-family: Josefin Sans;
        font-size: 20px;
    }
    #nav-userlovensetoy-tab:focus {
        background-color: transparent;
        border: none;
        color: #990000;
        font-weight: bold;
        font-size: 25px;
    }
    .lovensetoy-container {
        width: 100%;
    }
    .lovensetoy-btn {
        width: 90%;
        height: 60px;
        margin-left: 5%;
        margin-top: 10%;
        border-radius: 8px;
        background: black;
        border: none;
        padding: 4px 10px;
        color:#990000;
        font-size: 25px;
        font-family: sans-serif;
        font-weight: bold;
    }
     /*Chat Area*/
     .conversation-box {
        width: 100%;
    }
    .chatbox-container {
        margin-left: 4%;
        width: 100%;
        height: 300px;
    }
    .chat-box {
        width: 100%;
        height: 50px;
        background: white;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: -3px 2px 27px -1px rgba(0,0,0,0.75);
    }
     /*Lovense*/
     #nav-lovensetoy {
        height: auto;
    }
    .lovensetoy-title{
        width: 50%;
        margin-left: 25%;
        color: black;
        font-family: sans-serif;
    }
    .lovensetoy-container {
        width: 100%;
        height: auto;
        display: block;
    }
    .lovensetoy-btn {
        margin-top: 0;
        margin-left: 5%;
        border-radius: 8px;
        background: black;
        border: none;
        padding: 2px 2px;
        color:#990000;
        font-size: 15px;
        font-family: sans-serif;
        font-weight: bold;
    }
    .lovense-toy {
        width: 100%;
        height: auto;
        background: rgba(255, 255, 255, 0.418);
        border-radius: 5px;
        box-shadow: -2px 2px 22px -5px rgba(0,0,0,0.75);
        -webkit-box-shadow: -2px 2px 22px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 2px 22px -5px rgba(0,0,0,0.75);
    }
    .lovensetoy-content {
        width: 100%;
        height: 100%;
    }
    /*Settings*/
    .settings-container {
        width: 90%;
        height: auto;
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: column;
    }
    .settings-content {
        width: 100%;
        height: 100%;
    }
    .setting {
        margin-top: 10px;
        font-family: sans-serif;
        font-size: 25px;
    }
    .options {
        font-size: 25px;
        margin-top: 10px;
        color: #990000;
    }
    .regions {
        font-size: 25px;
        font-family: sans-serif;
    }
    .checkbox-options {
        width: 23px;
        height: 23px;
    }
    .locations {
        font-size: 20px;
        font-family: sans-serif;
    }
    .chatsettings-link{
        font-size: 25px;
        margin-top: 35px;
        color: #990000;
    }
    .close-button {
        display: none;
    }
   
       
}
