@media screen and (max-width:576px) {
    #hamburger-icon {
        display: block;
    }
    nav, nav ul {
        display: none;
    }
    .dashboard-menu {
        margin-top: auto;
        background: black;
        list-style: none;
        height: 100%;
        position: absolute;
    }
    .dashboard-menu li {
        list-style-type: none;
        color: white;
        padding: 4px;
        border: 0.5px;
        cursor: pointer;
        width: 90%;
        text-align: left;
    }
    .dashboard-menu li:hover {
        background: #990000;
        border-radius: 7px;
    }
    section {
        display: none;
      }
      #dashboard.show-dashboard,
      #messages.show-messages,
      #staff.show-staff,
      #memos.show-memos,
      #promotions.show-promotions,
      #interactives.show-interactives,
      #subscriptions.show-subscriptions,
      #idcheck.show-idcheck,
      #badacters.show-badacters,
      #todolist.show-todolist{
        display: block;
      }
      main {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        
      }
      /*Dashboard Section*/
      .dashboard-content {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .dashboard-containers {
        margin-left:5%;
        width: 40%;
        height: 70px;
    }
    .dashboard-containers p {
        line-height: 15px;
        font-size: 13px;
        margin-top: 5%;
    }
    .dashboard-amount {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .amount-containers {
        margin-left:5%;
        width: 40%;
        height: 50px;
    }
    .amount-containers p {
        margin-top: 4%;
        line-height: 15px;
        font-size: 13px;
    }
    .setvibez-btn {
        display: flex;
        gap: 5%;
        text-align: center;
    }
    .setvibez-btn button {
        background: black;
        border: 0.5px solid white;
        padding: 3px 7px;
        border-radius: 10px;
        color: white;
    }
    /*Message Section*/
    .pop-overmsg {
        text-decoration: none;
        color: white;
        background: #990000;
        padding: 2px 4px;
        font-size: 20px;
        border-radius: 5px;
    }
    /*Staff Section*/

    /*Interactive Section*/
    .show-interactives {
        width: 80%;
        margin-left: 10%;
    }
    .interactives-tbl {
        width: 90%;
        margin-left: 5%;
    }
    /* Bad Acters Section*/
    .show-badacters {
        margin-left: 0;
    }
    /*Promotions Sections*/
    .show-promotions .promotion-tblmobile {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.39);
    }
    table.promotion-tblmobile{
        margin-left: 0;
        margin-top: 3%;
        border-collapse: collapse;
        margin-bottom: 15px;
        width: 100%;
    }
    .promotion-tblmobile th,
    .promotion-tblmobile td{
        border-bottom: 1px solid rgba(0, 0, 0, 0.39);
        padding: 8px;
        display: block;
        width: auto;
    }
    .promotion-tblmobile th,
    .promotion-tblmobile td {
        font-size: 25px;
    }
    .promotion-tbl {
        display: none;
    }
    .promotion-tblmobile {
        display: block;
    }

    .addpromotion-btn {
        background: #990000;
        padding: 4px 8px;
        border: none;
        color: white;
        border-radius: 3px;
        border: 0.5px solid white;
        width: 50%;
        height: 40px;
        font-size: 20px;
    }
    .addpromotion-btn:hover {
        background: #99000096;
        color: white;
        transition: 0.5s;
        border-radius: 5px;
    }

}