@media screen and (max-width:576px) {
    #hamburger-icon {
        display: block;
    }
    nav, nav ul {
        display: none;
    }
    .dashboard-menu {
        margin-top: -0.9%;
        background: black;
        list-style: none;
        height: 100%;
        position: absolute;
    }
    .dashboard-menu li {
        list-style-type: none;
        color: white;
        padding: 4px;
        border: 0.5px;
        cursor: pointer;
        width: 90%;
        text-align: left;
    }
    .dashboard-menu li:hover {
        background: #990000;
        border-radius: 7px;
    }
    section {
        display: none;
      }
      #dashboard.show-dashboard,
      #messages.show-messages,
      #staff.show-staff,
      #memos.show-memos,
      #promotions.show-promotions,
      #interactives.show-interactives,
      #subscriptions.show-subscriptions,
      #idcheck.show-idcheck,
      #badacters.show-badacters,
      #todolist.show-todolist{
        display: block;
      }
      main {
        width: 95%;
        margin-left: 0;
        margin-right: 5%;
        margin-top: 5%;
      }
      /*Dashboard Section*/
      .dashboard-content {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .dashboard-containers {
        margin-left:5%;
        width: 40%;
        height: 70px;
    }
    .dashboard-containers p {
        line-height: 15px;
        font-size: 13px;
        margin-top: 5%;
    }
    .dashboard-amount {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .amount-containers {
        margin-left:5%;
        width: 40%;
        height: 50px;
    }
    .amount-containers p {
        margin-top: 4%;
        line-height: 15px;
        font-size: 13px;
    }
    .setvibez-btn {
        display: flex;
        gap: 5%;
        text-align: center;
    }
    .setvibez-btn button {
        background: black;
        border: 0.5px solid white;
        padding: 8px 8px;
        border-radius: 10px;
        color: white;
    }
    /*Message Section*/
    .pop-overmsg {
        text-decoration: none;
        color: white;
        background: #990000;
        padding: 2px 4px;
        font-size: 20px;
        border-radius: 5px;
    }
    /*Staff Section*/
    .showstaff-tbl {
        display: none;
    }
    .showstaff-tblmobile {
        display: block;
        margin-left: 0;
    }
    .show-staff .showstaff-tblmobile {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.39);
    }
    table.showstaff-tblmobile{
        margin-left: 0;
        margin-top: 3%;
        border-collapse: collapse;
        margin-bottom: 15px;
        width: 100%;
        border-radius: 10px;
    }
    .showstaff-tblmobile th,
    .showstaff-tblmobile td{
        padding: 8px;
        display: block;
        width: auto;
    }
    .showstaff-tblmobile th,
    .showstaff-tblmobile td {
        font-size: 25px;
    }

    .staffbtn-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .addstaff-btnmobile{
        margin-left: 25%;
        height: 50px;
        color: white;
        background: #990000;
        width: 50%;
        border-radius: 5px;
        font-size: 25px;
        border: none;
    }
    .editpermission-btnmobile {
        margin-left: 25%;
        height: 50px;
        color: white;
        background: #990000;
        width: 50%;
        border-radius: 5px;
        font-size: 20px;
        border: none;
    }
    .delstaff-btnmobile{
        margin-left: 25%;
        height: 50px;
        color: white;
        background: #990000;
        width: 50%;
        border-radius: 5px;
        font-size: 25px;
        border: none;
    }
    /*Memos Section*/
    .show-memos {
        margin-left: 0;
    }
    
    /*Promotions Sections*/
    .show-promotions .promotion-tblmobile {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.39);
    }
    table.promotion-tblmobile{
        margin-left: 0;
        margin-top: 3%;
        border-collapse: collapse;
        margin-bottom: 15px;
        width: 100%;
        border-radius: 10px;
    }
    .promotion-tblmobile th,
    .promotion-tblmobile td{
        padding: 8px;
        display: block;
        width: auto;
    }
    .promotion-tblmobile th,
    .promotion-tblmobile td {
        font-size: 25px;
    }
    .promotion-tbl {
        display: none;
    }
    .promotion-tblmobile {
        display: block;
    }

    .addpromotion-btn {
        background: #990000;
        padding: 4px 8px;
        border: none;
        color: white;
        border-radius: 3px;
        border: 0.5px solid white;
        margin-left: 25%;
        width: 50%;
        height: 40px;
        font-size: 15px;
    }
    .addpromotion-btn:hover {
        background: #99000096;
        color: white;
        transition: 0.5s;
        border-radius: 5px;
    }
    /*Interactive Section*/
    .show-interactives {
        width: 80%;
        margin-left: 10%;
    }
    .interactives-tbl {
        width: 90%;
        margin-left: 5%;
    }
    .interactives-tbl button {
        height: 70px;
        background: #990000;
        border: #990000;
        color: white;
        padding: 2px 2px;
        border-radius: 5px;
        line-height: 17px;
    }
    .interactives-tbl button:hover {
        background: #9900008a;
        transition: 0.5s;
    }
    /*Subscription Section*/
    .show-subscriptions {
        width: 100%;
        margin-left: 5%;
        margin-right: 0;
    }
    .subscriptionupdate-btn {
        width: 100%;
        font-size: 10px;
        padding: 2px 2px;
    }
    .subscriptiondelete-btn {
        width: 100%;
        font-size: 10px;
        padding: 2px 2px;
    }

    /*ID Check Section*/
    .show-idcheck {
        width: 100%;
        margin-left: 3.5%;
    }
    .idcheck-tblcontainer {
        width: 100%;
    }
    /* Bad Acters Section*/
    .badacters-tblcontainer {
        display: none;
    }
    .badacters-tblcontainermobile {
        display: block;
        margin-left: 0;
        border-radius: 10px;
    }
    .show-badacters .badacters-tblmobile {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.39);
    }
    table.badacters-tblmobile{
        margin-left: 0;
        margin-top: 3%;
        border-collapse: collapse;
        margin-bottom: 15px;
        width: 100%;
        
    }
    .badacters-tblmobile th,
    .badacters-tblmobile td{
        padding: 8px;
        display: block;
        width: auto;
    }
    .badacters-tblmobile th,
    .badacters-tblmobile td {
        font-size: 25px;
    }
}