@media only screen and (min-width: 993px) {
    @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:ital@1&family=Lumanosimo&display=swap');
    ;
    html {
        width: 100%;
        margin: 0;
    }
    body {
        width: 100%;
        background: rgba(255, 255, 255, 0.683);
        margin: 0;
    }

    footer {
        height: 350px;
    }
     /* Nav mobile responsive*/
     #hamburger-icon{
        display: none;
        margin: auto 0;
        cursor: pointer;
        float: right;
        margin-top: -35px;
    }

    #hamburger-icon div {
        width: 35px;
        height: 3px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
    }

    .open .bar1{
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .open .bar2 {
        opacity: 0;
    }

    .open .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -8px);
        transform: rotate(45deg) translate(-6px, -8px);
    }

    .open .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        height: calc(100vh - 50px);
        width: 100%;
    }
        /*Header*/
    .headerphoto-container{
        background: black;
    }
    .logo {
        display: inline-block;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
        /*Nav*/
    nav {
        width: 100%;
        height: 35px;
        margin: 0;
        padding-top: 0;
        display: flex;
    }

    .nav-container {
        width: 20%;
        background: #990000;
        height: 35px;
        margin: 0;
    }
    .home{
        margin-top: 5px;
    }
    .home-btn {
        color: white;
        text-decoration: none;
        font-family: Verdana;
        margin-left: 15px;
    }
    .home-btn:hover {
        text-decoration: underline;
    }
    .usernameicon {
        padding: 1px;
    }
    .username {
        display: flex;
    }
    .log-outbtn {
        text-decoration: none;
        color: white;
        font-size: 15px;
        border: 1px solid white;
        padding: 2px 5px;
        border-radius: 5px;
        font-weight: bold;
        margin-left: 10px;
    }
    .log-outbtn:hover {
        color: #990000;
        border: 1px solid #990000;
        background: white;
    }
    .signup-link {
        text-decoration: none;
        color: white;
        font-size: 20px;
        border: 1px solid white;
        padding: 1.5px 10px;
        border-radius: 5px;
        font-weight: bold;
        margin-left: 10px;
    }
    .signup-link:hover {
        color: #990000;
        border: 1px solid #990000;
        background: white;
    }
    .title {
        color: white;
        font-family: Lumanosimo;
        font-size: 15px;
        margin-top: 10px;
        font-weight: bold;
    }
    .title-link {
        text-decoration: none;
        color: white;
    }
        /*Tabs*/
    .tab {
        width: 100%;
        height: auto;
    }

    #myTab {
        width: 100%;
    }
    #nav-featured-tab {
        color: #990000 ;
        font-family: Josefin Sans;
        font-weight: bold;
    }
    #nav-women-tab {
        color: black;
        font-family: Josefin Sans;
    }
    #nav-men-tab {
        color: black;
        font-family: Josefin Sans;
    }
    #nav-couples-tab {
        color: black;
        font-family: Josefin Sans;
    }
    #nav-trans-tab {
        color: black;
        font-family: Josefin Sans;
    }
    .tab-content {
        width: 20%;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .contentcontainer {
        border: 0.5px solid black;
        border-radius: 5px;
    }
    .card-img-top {
        margin-top: 5px;
        gap: 5px;
    }
    .contentimagecontainer {
        width: 470%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        margin-top: 40px;
        margin-left: 40px;
    }
    .imgcont{
        margin-left: 0;
        height: 200px;
        display: grid;
        border: 0.8px solid rgba(0, 0, 0, 0.368);
        border-radius: 20px;
    }
     /*Rooms*/
     .rooms {
        margin-top: 5px;
    }
    .rooms-btn {
        color: white;
        text-decoration: none;
        font-family: Verdana;
        margin-left: 15px;
    }
    .rooms-btn:hover {
        text-decoration: underline;
    }
    .whole-roomcontainer{
        justify-content: center;
        gap: 1%;
        display: flex;
        flex-wrap: wrap;
    }
    .room-container {
        margin-top: 20px;
        width: 48%;
        height: 600px;
        border: 1px solid rgba(0, 0, 0, 0.361);
        border-radius: 15px;
        background-color: #990000;
    }
    
    .headings-roomcontainer {
        width: 96%;
        height: 40px;
        margin-top: 10px;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .explosion {
        font-family: sans-serif;
        font-weight: bolder;
        color: rgba(255, 255, 255, 0.406);
    }
    .video-container {
        width: auto;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        border-radius: 5px;
    }
    .video {
        width: 90%;
        height: 100%;
        border-radius: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5%;
    }
    .vibezspent-tbl thead {
        width: 100%;
        justify-content: center;
    }
    .vibezspent-tbl th {
        padding: 2px 2px;
        font-size: 14px;
    }
    .conversation-box {
        margin-top: 20%;
        height: 400px;
    }
    /*Settings*/
    .settings-btn {
        text-decoration: none;
        color: white;
        font-family: Verdana;
        font-size: 23px;
    }
    .settings-container {
        width: 98%;
        height: 400px;
        margin-top: 20px;
        margin-left: 1%;
        margin-right: 1%;
        display: flex;
    }

    .settings-content {
        width: 20%;
        height: 100%;
    }
    .setting {
        margin-top: 35px;
        font-family: sans-serif;
    }
    .options {
        margin-top: 10px;
        color: #990000;
    }

    .regions {
        font-family: sans-serif;
    }
    .checkbox-options {
        width: 17px;
        height: 17px;
    }

    .locations {
        font-size: 14px;
        font-family: sans-serif;
    }
    .close-button {
        background-color: white;
        color: #990000;
        border:none;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
        font-weight: bolder;
        font-size: 25px;
        float: right;
    }
}       