@media only screen and (min-width: 769px) and (max-width: 992px) {
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:ital@1&family=Lumanosimo&display=swap');
  ;
  html {
      width: 100%;
      margin: 0;
  }
  body {
      width: 100%;
      background: rgba(255, 255, 255, 0.683);
      margin: 0;
  }
  
  footer {
      height: 350px;
  }
  /* Nav mobile responsive*/
#hamburger-icon{
    display: none;
    margin: auto 0;
    cursor: pointer;
    float: right;
    margin-top: -35px;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}
/*Header*/
.headerphoto-container{
    background: black;
}
.logo {
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/*Nav*/
nav {
    width: 100%;
    height: 35px;
    margin: 0;
    padding-top: 0;
    display: flex;
}
.nav-container {
    width: 20%;
    background: #990000;
    height: 35px;
    margin: 0;
}
.home{
    margin-top: 5px;
}
.home-btn {
    color: white;
    text-decoration: none;
    font-family: Verdana;
    margin-left: 15px;
}
.home-btn:hover {
    text-decoration: underline;
}
.usernameicon {
    padding: 1px;
}
.username {
    display: flex;
}
.signup-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    padding: 0.5px 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
}
.signup-link:hover {
    color: #990000;
    border: 1px solid #990000;
    background: white;
}
.title {
    color: white;
    font-family: Lumanosimo;
    font-size: 12.5px;
    margin-top: 10px;
    font-weight: bold;
}
.title-link {
    text-decoration: none;
    color: white;
}

.title-link:hover {
    text-decoration: underline;
}
    /*Tabs*/
.tab {
    width: 100%;
    height: auto;
}

#myTab {
    width: 100%;
}
#nav-featured-tab {
    color: #990000 ;
    font-family: Josefin Sans;
    font-weight: bold;
}
#nav-women-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-men-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-couples-tab {
    color: black;
    font-family: Josefin Sans;
}
#nav-trans-tab {
    color: black;
    font-family: Josefin Sans;
}
.tab-content {
    width: 20%;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.contentcontainer {
    border: 0.5px solid black;
    border-radius: 5px;
}
.card-img-top {
    margin-top: 5px;
    gap: 5px;
}
.contentimagecontainer {
    width: 450%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 40px;
    margin-left: 40px;
}
.imgcont{
    margin-left: 0;
    height: 200px;
    display: grid;
    border: 0.8px solid rgba(0, 0, 0, 0.368);
    border-radius: 20px;
}

/*Sign in Page*/
.signincontainer {
    width: 50%;
    height: 650px;
    border: 1px solid rgba(0, 0, 0, 0.283);
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    background: url(/images2/pexels-alexander-krivitskiy-1271374.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sign-in{
    background: rgba(255, 255, 255, 0.329);
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px;
    box-shadow: -1px 3px 13px -2px black;
}
.si-logo {
    margin-top: -20px;
    margin-left: 40%;
}
.text-logo {
    margin-left: 20%;
}
.sign_in-title {
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 10%;
    color: #990000;
}
.sign_in-text {
    font-family: sans-serif;
    margin-left: 10%;
}
.clickhere-link{
    text-decoration: none;
    color: #990000;
}

.clickhere-link:hover {
    text-decoration: underline;
}
#sign_in-username{
    margin-left: 10%;
    width: 70%;
    border: none;
    border-bottom: 1px solid #990000;
    background: none;
    padding: 5px;
}

.underline-input:focus{
    outline: none;
    border-color: transparent;
}
#sign_in-username::placeholder {
    color: #990000;
}

#sign_in-password {
    margin-left: 10%;
    width: 70%;
    border: none;
    border-bottom: 1px solid #990000;
    background: none;
    padding: 5px;
}
#sign_in-password::placeholder {
    color: #990000;
}

#sign_in-checkbox {
    margin-left: 10%;
    width: 20px;
    height: 20px;
}

.sign-incheck-box {
    display: flex;
}
.remember-me {
    font-family: sans-serif;
    margin-left: 5px;
    font-size: 18px;
    margin-top: -3px;
}

}